<!DOCTYPE html>
<html lang="fr">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="../public/css/bootstrap.min.css">
	</head>

	<body>
		<div id="News">
			<header>
				<nav class="navbar navbar-expand-md bg-dark">
					<div class="collapse navbar-collapse">
						<form class="form-inline">
							<input class="form-control mr-sm-2" type="text" placeholder="Search" name="search" id="search">
							<button class="btn btn-outline-light" type="submit">Search</button>
						</form>
						<span id="error-message"></span>
						<ul class="navbar-nav mr-auto">
							<li class="nav-item active">
								<a class="nav-link news" href="#">News</a>
							</li>
							<li class="nav-item">
								<a class="nav-link creation" href="#">Création</a>
							</li>
						</ul>
					</div>
				</nav>
			</header>

			<div class="container">
				<h1 class="text-center">Search</h1>

				<div class="row" id="allNews">
					<news 
						v-for="news in posts"
						v-bind:key="news.id"
						v-bind:title="news.title"
						v-bind:content="news.content">
					</news>
				</div>
			</div>
		</div>
		<div id="Creation">
			<header>
				<nav class="navbar navbar-expand-md bg-dark">
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item active">
								<a class="nav-link news" href="#">News</a>
							</li>
							<li class="nav-item">
								<a class="nav-link creation" href="#">Création</a>
							</li>
						</ul>
					</div>
				</nav>
			</header>


			<div class="container">
				<form>
					<span id="error-message-formulaire" style="color:red"></span>
					<div class="form-group">
						<label for="titreNews">Titre de la News</label>
						<input type="text" class="form-control" id="titreNews" placeholder="Titre de la news">
					</div>
					<div class="form-group">
						<label for="descriptionNews">Description de la News</label>
						<textarea class="form-control" id="descriptionNews" rows="3"></textarea>
					</div>
					<button type="button" class="btn btn-success" id="submit">Valider</button>
				</form>
			</div>
		</div>
		<script src="../public/js/jquery.min.js"></script>
		<script src="../public/js/vue.min.js"></script>
		<script src="../public/js/app.min.js"></script>
	</body>
</html>